.menu-bar {
    height: 100%;
    border-right: 1px solid #ddd;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 16px;
  }
  
  .menu-item .anticon {
    margin-right: 12px; 
  }
  
  .menu-item:last-child {
    margin-top: auto; 
  }
 
  .ant-menu-item.ant-menu-item-selected {
    background-color: red !important;
    color: white !important;
}
