.sider{
    height: 100vh;
    position: sticky !important;
    left: 0;
    bottom: 0;
    top: 0;
}

.logo{
    color:#4f6f52;
    margin: 40px 0;
    font-size: 1.5rem;
}

.menu-bar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
}

.ant-menu-item-selected{
    background-color: #007FFF !important;
    color: #fff !important;
}

.header{
    padding-top:12px;
    background:#fff;
}
.content{
    margin: 24px 16px;
    padding: 20px;
}
.trigger-btn{
    font-size: 16px;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 10px;
    left: 10px;
}

.header-icon{
    background: #007FFF;
    padding: 8px;
    border-radius: 4px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.ant-btn:hover{
    color: #007FFF !important;
    border-color: #007FFF !important;

}
.ant-btn-primary{
    background-color: #007FFF !important;
}
.ant-btn-primary:hover{
    background-color: #0000FF !important;
    color: white !important;
}
.primary--color{
    color: #007FFF !important;
}
.primary--light--color{
    color: #318CE7 !important;
}
.secondary--color{
    color:#6CB4EE !important;
}
.light--color{
    color: #89CFF0 !important;
}
.gray--color{
    color: rgb(182, 181, 181) !important;
}

.employee{
    flex: 1;
    
}
