.container {
    padding: 24px;
    background: #fff;
    margin-top: 20px;
    border-radius: 10px;
  }
  
  .button-container {
    text-align: right;
  }
  
  .product-table .ant-table-thead > tr > th {
    text-align: center;
    background-color: #fafafa;
  }
  
  .product-table .ant-table-tbody > tr > td {
    text-align: center;
  }
  
  .card-container {
    max-width: 800px;
    margin: 0 auto;
  }
  